$plant-size: 5.62em;

@mixin plant-style($background-color) {
  position: absolute;
  height: $plant-size;
  width: $plant-size;
  background: linear-gradient(
    $background-color 80%,
    #ffffff 80%,
    #90e0fd 80%
  );
  bottom: -8em;
  left: 15em;
  border-radius: 1rem;
}

@mixin succulent-style {
  position: absolute;
  height: 2.5em;
  width: 2.5em;
  background-color: #138b66;
  border-radius: 2.5em 0;
  top: -2.18em;
  left: 2.5em;
  transform: rotate(10deg);

  &:before {
    content: "";
    position: absolute;
    height: 3.75em;
    width: 3.75em;
    background-color: #1bb68a;
    border-radius: 3.75em 0;
    bottom: 0.75em;
    left: -2em;
    transform: rotate(-50deg);
  }
}

:root {
  --mijnKleur: #ff0000; /* Definieer een aangepaste kleurvariabele */
}

.plant {
  @include plant-style(var(--mijnKleur));
}

.succulent {
  @include succulent-style;
}
